@import '../../layouts/colors.scss';

// footer {
//   background-color: $black;
//   position: relative;
//   display: inline-block;
//   hr {
//     border-color: $red;
//     border-width: 3px;
//     max-width: 50px;
//   }
// }

footer {
    margin-bottom: 48px;
    color: #0F0F0F;
    font-size: 14px;
    text-align: center;
    position: relative;
}

footer a,
footer a:visited {
    color: #525252;
}

footer a:hover,
footer a:focus {
    color: #11ABB0;
}

/* copyright */

footer .copyright {
    margin: 0;
    padding: 0;
}

footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.ie footer .copyright li {
    display: inline;
}

footer .copyright li:before {
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}

footer .copyright li:first-child:before {
    display: none;
}

// /* social links */
footer .social-links {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
}

footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child {
    margin-left: 0;
}
